html, body {
    height: 100%;
    background-image: url(/images/cream_pixels.png);
    background-repeat: repeat;
}

*, *:before, *:after {
    box-sizing: initial;
}

h4 {
    text-align: center;
}

.card {
   background-color: #ABD9FC;
}

.card.small {
    height: 275px;
}

.card-title {
    text-align: center;
}

#card-body-nutrient {
    text-align: center;
    padding: 25px 0px;
}

#card-body-progress {
    text-align: center;

}

#card-body-shopping {
    text-align: center;
    padding: 60px 0px;
}

#card-body-account {
    text-align: center;
    padding: 60px 0px;
}

#weight-div {
    margin: 0;
}

#current-weight-label {
    margin: 60px 10px 10px 10px;
}

#piechart_3d {
    padding-top: 5px;

}

.start-weight {
    text-align: left
}

.goal-weight {
    text-align: right
}

.meter {
    height: 20px;  /* Can be anything */
    position: relative;
    margin: 10px 0 10px 0; /* Just for demo spacing */
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 5px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    -moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
    box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
}

.meter > span {
    display: block;
    height: 100%;
       -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
           -moz-border-radius-topright: 8px;
        -moz-border-radius-bottomright: 8px;
               border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        -webkit-border-top-left-radius: 20px;
     -webkit-border-bottom-left-radius: 20px;
            -moz-border-radius-topleft: 20px;
         -moz-border-radius-bottomleft: 20px;
                border-top-left-radius: 20px;
             border-bottom-left-radius: 20px;
    background-color: rgb(43,194,83);
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(43,194,83)),
      color-stop(1, rgb(84,240,84))
     );
    background-image: -moz-linear-gradient(
      center bottom,
      rgb(43,194,83) 37%,
      rgb(84,240,84) 69%
     );
    -webkit-box-shadow:
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
    -moz-box-shadow:
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
    box-shadow:
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
}

.animate > span:after {
    display: none;
}
